#originSelect {
  width: 100%;
}
#destinationSelect {
  width: 100%;
}

label[for='originSelect'],
label[for='destinationSelect'] {
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
}

.port {
  width: 415px;
  height: 215px;
}

.arrow {
  margin-left: 100px;
  margin-top: 50px;
  width: 215px;
  height: 115px;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  margin-top: 150px;
  /* padding: 10px; */
}

.radio-row {
  margin-top: 30px;
  justify-content: center;
}

.container {
  margin-top: 50px;
}

.title {
    font-weight: bold;
    font-style: italic;
}

.center-label {
  display: block;
  text-align: center;
}
